@page "/register"

@using DC.ViewModels
@inject AppDbContext appDbContext
@inject NavigationManager navigationManager
@inject IJSRuntime js

<PageTitle>Register</PageTitle>

<div class="row">
  <div class="col-lg-4 offset-lg-4 pt4 pb4">
    <EditForm Model="@Model" OnValidSubmit="CreateNewAccount" FormName="RegisterForm">
      <DataAnnotationsValidator />
      <div class="text-center flex-column">
        <h1>REGISTER</h1>
      </div>
      <div class="mb-3">
        <label>Username</label>
        <InputText @bind-Value="Model.Username" class="form-control" placeholder="Username" />
        <ValidationMessage For="@(() => Model.Username)" />
      </div>
      <div class="mb-3">
        <label>Password</label>
        <InputText @bind-Value="Model.Password" type="password" class="form-control" placeholder="Password" />
        <ValidationMessage For="@(() => Model.Password)" />
      </div>
      <div class="mb-3">
        <label>Confirm Password</label>
        <InputText @bind-Value="Model.ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" />
        <ValidationMessage For="@(() => Model.ConfirmPassword)" />
      </div>
      <div class="mb-3 text-center">
        @if (!string.IsNullOrEmpty(errorMessage))
        {
          <span class="text-danger">@errorMessage</span>
        }
      </div>
      <div class="mb-3 d-grid gap-2">
        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">Register</MudButton>
      </div>
    </EditForm>
  </div>
</div>