@inject AppDbContext appDbContext

<MudDialog>
  <DialogContent>
    <MudGrid>
      <MudItem xs="12">
        <MudGrid>
          <MudCardHeader>
            <CardHeaderContent>
              <MudText Typo="Typo.h6">Grading Range</MudText>
            </CardHeaderContent>
          </MudCardHeader>
          <MudCardContent>
            <MudSlider @bind-Value="@minRange" Min="0" Max="@maxPossibleScore" Step="1" Color="Color.Primary">
              Min Score: @minRange
            </MudSlider>
            <MudSlider @bind-Value="@maxRange" Min="0" Max="@maxPossibleScore" Step="1" Color="Color.Secondary">
              Max Score: @maxRange
            </MudSlider>
          </MudCardContent>
        </MudGrid>
      </MudItem>

      <MudItem xs="12">
        <MudCard Elevation="0">
          <MudCardHeader>
            <CardHeaderContent>
              <MudText Typo="Typo.h6">Staff Selection</MudText>
            </CardHeaderContent>
          </MudCardHeader>
          <MudCardContent>
            <MudGrid>
              <MudItem xs="12" sm="2">
                <MudButton OnClick="@SelectAllStaff" Color="Color.Primary" Variant="Variant.Outlined" Class="mr-2">Select All</MudButton>
                <MudButton OnClick="@DeselectAllStaff" Color="Color.Secondary" Variant="Variant.Outlined">Deselect All</MudButton>
              </MudItem>
              <MudItem xs="12" sm="10">
                <MudTextField @bind-Value="@searchString" Placeholder="Search staff..." Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
              </MudItem>
            </MudGrid>
            <MudDataGrid T="StaffViewModel" Items="@FilteredStaffList" Bordered="false" MultiSelection="true" @bind-SelectedItems="SelectedStaff" Filterable="true" QuickFilter="@QuickFilter" Class="mt-4">
              <Columns>
                <SelectColumn T="StaffViewModel" />
                <PropertyColumn Property="x => x.FullName" Title="Name" />
                <PropertyColumn Property="x => x.Department" Title="Department" />
                <TemplateColumn Title="Current Score">
                  <CellTemplate>
                    @if (context.Item.CurrentScore.HasValue)
                    {
                      <div class="d-flex flex-column justify-center align-center pa-2" style="height: 100%; width: 80%;">
                        <MudProgressLinear Size="Size.Medium" Rounded="true" Value="@((double)context.Item.CurrentScore.Value)" Min="0" Max="@maxPossibleScore" Color="Color.Primary" Class="my-2 w-100" Style="min-width: 150px;" />
                        <MudText>@context.Item.CurrentScore.Value.ToString("F1") / @maxPossibleScore.ToString("F0")</MudText>
                      </div>
                    }
                    else
                    {
                      <MudText Color="Color.Default">Not graded</MudText>
                    }
                  </CellTemplate>
                </TemplateColumn>
              </Columns>
              <PagerContent>
                <MudDataGridPager T="StaffViewModel" />
              </PagerContent>
            </MudDataGrid>
          </MudCardContent>
        </MudCard>
      </MudItem>
    </MudGrid>
  </DialogContent>
  <DialogActions>
    <MudButton OnClick="Cancel">Cancel</MudButton>
    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="Submit">Auto Grade</MudButton>
  </DialogActions>
</MudDialog>
