@using Microsoft.EntityFrameworkCore
@inject AppDbContext appDbContext

<style>
  .horizontal-stack {
    display: flex;
    flex-wrap: wrap;
  }
</style>

<MudDialog>
  <DialogContent>
    <MudText Typo="Typo.h5" Class="mb-4">Currently grading @Staff.FullName for @Survey.Title</MudText>

    @if (isLoading)
    {
      <MudProgressCircular Color="Color.Default" Indeterminate="true" />
    }
    else
    {
      @foreach (var question in surveyQuestions)
      {
        <MudCard Elevation="3" Class="mb-4">
          <MudCardContent>
            <MudText Typo="Typo.h6">@question.Question.QuestionContext</MudText>
            @if (question.Question.AnswerType == AnswerType.SingleChoice)
            {
              <MudRadioGroup T="int" @bind-Value="@selectedAnswer[question.QuestionId]" SelectedValueChanged="@((int val) => OnSingleChoiceChanged(question.QuestionId, val))">
                @foreach (var answer in question.Question.Answers)
                {
                  <MudRadio T="int" Value="@answer.Id" Color="Color.Primary">@answer.AnswerText</MudRadio>
                }
              </MudRadioGroup>
            }
            else if (question.Question.AnswerType == AnswerType.MultipleChoice)
            {
              <div class="horizontal-stack">
                @foreach (var answer in question.Question.Answers)
                {
                  <MudCheckBox T="bool" @bind-Value="@selectedMultipleAnswers[question.QuestionId][answer.Id]" CheckedChanged="@((bool newValue) => OnMultipleChoiceChanged(question.QuestionId, answer.Id, newValue))">
                    @answer.AnswerText
                  </MudCheckBox>
                }
              </div>
            }
            <MudTextField T="string" Label="Note" @bind-Value="@questionNotes[question.QuestionId]" />
          </MudCardContent>
        </MudCard>
      }
    }
  </DialogContent>
  <DialogActions>
    <MudButton OnClick="Cancel">Cancel</MudButton>
    <MudButton Color="Color.Primary" OnClick="Submit">Submit</MudButton>
  </DialogActions>
</MudDialog>